/* Container for the main layout */
.container {
   display: flex;
   justify-content: center;
   margin: 20px;
 }
 
 /* Main content area */
 .mainContent {
   width: 60%;
   padding: 20px;
   box-shadow: 0 4px 6px var(--black);
   background-color: var(--white);
 }
 
 /* Sidebar area */
.sidebar {
   width: 25%;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
 }
 
 
.linksBox, .tagsBox {
   background-color: var(--white);
   border: 1px solid var(--light-gray);
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 20px;
   h3 {margin-top: 0;}
   li {margin: 5px 0;}
   ul {list-style: none; padding: 0;}
}
 
.linksBox {
   a {
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }
 }
 
 
.problemHeader {
   display: flex;
   align-items: center;       /* Vertically centers the items */
   justify-content: space-between; /* Places items at the ends */
   margin-bottom: 20px;
  }
  
.problemTitle {
   margin: 0;
   font-size: 2em;            /* Adjust font size as needed */
  }
  
.subTopic {
   margin: 0;
   font-size: 1.2em;          
   text-align: right;
   color: var(--secondary-color); 
  }
  
 
.problemDetails h2 {
   margin: 5px 0;
   font-weight: normal;
 }
 
.problemBox {
   border: 1px solid var(--light-gray);
   padding: 20px;
   background-color: var(--light-blue);
   border-radius: 5px;
 }
 